<section class="footer">
  <div class="row justify-content-center">
    <div class="col justify-content-center align-items-center">
      <img
        class="footer-logo"
        draggable="false"
        src="/assets/logo/logo2.png"
        alt="Logo Music pro"
        [routerLink]="['/home']"
      />
    </div>
    <div class="col align-items-center">
      <h4>Políticas</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
        corrupti, dolore distinctio consequuntur fuga maiores. Corporis
        architecto nulla debitis eos, sed sint animi. Quas, eveniet!
      </p>
    </div>
    <div class="col align-items-center">
      <h4>Tiendas</h4>
      <p class="text-justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
        corrupti, dolore distinctio consequuntur fuga maiores. Corporis
        architecto nulla debitis eos, sed sint animi. Quas, eveniet!
      </p>
    </div>
  </div>
  <span class="copyright text-center"> Copyright © Music Pro - 2023 </span>
</section>
