<main>
    <section>
        <div class="row justify-content-center">
            <h2>Mantenedor de productos</h2>
        </div>
        <form class="flex wrap align-items-center" action="">
            <div>
                <label for="">añadir nuevo producto</label>
                <input type="text" placeholder="Nombre Producto" required>
            </div>
            <div>
                <label for="">Categoria</label>
                <select name="Categoria">
                    <option value="Seleccione"></option>
                    <option value="Guitarra">Guitarra</option>
                    <option value="Piano">Piano</option>
                    <option value="Bateria">Bateria</option>
                    <option value="Violin">Violin</option>
                  </select>
            </div>
            <div>
                <label for="">Marca</label>
                <input type="text" placeholder="Ingrese la marca" required>
            </div>
            <div>
                <label for="">Precio</label>
                <input type="text" placeholder="Precio" required>
            </div>
            <div>
                <label for="">Precio Oferta</label>
                <input type="text" placeholder="Precio Oferta" required>
            </div>
            <div>
                <label for="">Imagen</label>
                <input type="file" placeholder="Seleccione archivo">
            </div>
            <div>
                <label for="">Stock</label>
                <input type="text" placeholder="Ingrese stock" required>
            </div>
            <div>
                <label for="">Fecha</label>
                <input type="date" placeholder="Ingrese fecha de creación" required>
            </div>
            <div>
                <label for="">Color</label>
                <input type="text" placeholder="Ingrese color " required>
            </div>
            <div>
                <label for="">Trastes</label>
                <input type="text" placeholder="Ingrese trastes ">
            </div>
            <div>
                <label for="">Material cuerpo</label>
                <input type="text" placeholder="Ingresa material del cuerpo">
            </div>     
           <div>
                <label for="">Material brazo</label>
                <input type="text" placeholder="Ingresa material brazo guitarra ">
            </div>
            <div>
                <label for="">Material diapasón</label>
                <input type="text" placeholder="Ingresa material diapasón">
            </div>
            <div>
                <label for="">añadir nuevo producto</label>
                <textarea name="comentarios" placeholder="Ingresa tus comentarios"></textarea>
            </div>
            

        </form>
    </section>
</main>