<div class="row justify-content-center">
  <div class="col align-items-center">
    <button class="create" (click)="toogleModal()">
      <h3>Crear producto <i class="bx bx-plus fs-40"></i></h3>
    </button>
  </div>
</div>

<div class="row">
  <div class="col overflow-auto">
    <table class="lista-productos">
      <tr>
        <td
          colspan="6"
          style="border-top-left-radius: 15px; border-top-right-radius: 15px"
        >
          Productos
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td>Imagen</td>
        <td>Nombre producto</td>
        <td>Precio</td>
        <td>Editar Producto</td>
        <td>Eliminar Producto</td>
      </tr>
      <tr
        *ngFor="
          let producto of productos
            | paginate
              : { itemsPerPage: 5, currentPage: page, totalItems: count }
        "
      >
        <td>{{ producto.id }}</td>
        <td>
          <img
            draggable="false"
            [src]="'data:image/*;base64,' + producto.imagen"
            alt=""
          />
        </td>
        <td>{{ producto.nom_producto }}</td>
        <td>${{ producto.precio | number : "1.0-0" }}</td>
        <td class="btn editar" (click)="toogleModalPut(producto)">
          <i class="bx bx-edit"></i>
        </td>
        <td class="btn desactivar" (click)="delete_product(producto.id)">
          <i class="bx bx-x"></i>
        </td>
      </tr>
    </table>

    <pagination-controls
      class="pagination"
      (pageChange)="page = $event"
      previousLabel="Prev"
      nextLabel="Next"
    ></pagination-controls>
  </div>
</div>

<app-editar-producto-modal
  *ngIf="showModal"
  (close)="toogleModal()"
  (updateEvent)="updateList()"
></app-editar-producto-modal>

<app-actualizar-producto
  *ngIf="showPutModal"
  [producto]="editProducto"
  (close)="toogleModalPut()"
  (updateEvent)="updateList()"
></app-actualizar-producto>
