<main>
    <section class="row justify-content-center">
        <div class="container flex justify-content-center ">
            <div class="flex justify-content-center">
                <h2>Mantenedor de productos</h2>
            </div>
            <form class="flex wrap ">
            <div class="col">
                    <label for="">Añadir nuevo producto:</label>
                    <input type="text" placeholder="Nombre Producto" required>
                
               
                    <label for="">Categoria:</label>
                    <select name="Categoria">
                        <option value="Seleccione"></option>
                        <option value="Guitarra">Guitarra</option>
                        <option value="Piano">Piano</option>
                        <option value="Bateria">Bateria</option>
                        <option value="Violin">Violin</option>
                    </select>
          
              
                    <label for="">Marca:</label>
                    <input type="text" placeholder="Ingrese la marca" required>
               
                    <label for="">Precio:</label>
                    <input type="text" placeholder="Precio" required>
              
                    <label for="">Precio Oferta:</label>
                    <input type="text" placeholder="Precio Oferta" required>
              
                
                    <label for="">Imagen:</label>
                    <input type="file" placeholder="Seleccione archivo">
                
                    <label for="">Stock:</label>
                    <input type="text" placeholder="Ingrese stock" required>
                </div>
                <div class="col">
                    <label for="">Fecha:</label>
                    <input type="date" placeholder="Ingrese fecha de creación" required>
            
                    <label for="">Color:</label>
                    <input type="text" placeholder="Ingrese color " required>
               
                    <label for="">Trastes:</label>
                    <input type="text" placeholder="Ingrese trastes ">
                
                    <label for="">Material cuerpo:</label>
                    <input type="text" placeholder="Ingresa material del cuerpo">
              
                    <label for="">Material brazo:</label>
                    <input type="text" placeholder="Ingresa material brazo guitarra ">
                
                    <label for="">Material diapasón:</label>
                    <input type="text" placeholder="Ingresa material diapasón">
                
                    <label for="">Descuento:</label>
                    <input type="text" placeholder="Descuento">
          
                
                </div>   
            </form>
            
        </div>
    </section>
</main>