<!DOCTYPE html>
<html>
<head>
  <title>Carrusel de productos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  

  <style>
   
   
  </style>
</head>
<body>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/src/assets/img/descarga.jpg" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="/src/assets/img/descarga.jpg" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="/src/assets/img/descarga.jpg" alt="Slide 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  

 


    <header>
        <div class="row justify-content-evenly footer-dark">
          <h2 class="tittle">Ofertas</h2>
          <h2 class="tittle">Accesorios</h2>
          <h2 class="tittle">Open box</h2>
          <h2 class="tittle">Destacados</h2>
        </div>
    </header>

    <section>
      <main class="container">
        <div class="row justify-content-evenly">
          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://www.musiccitypianos.com/information/ewExternalFiles/YUS5_PE%20T.png"
              alt=""
            />
            <div class="producto-info">

              <div>
                <h2 class="producto-title">Piano</h2>
                <p>piano barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://cdn.shopify.com/s/files/1/0172/8076/1910/products/guitarra_washburn_bk_1200x.jpg?v=1667663096"
              alt=""
            />
            <div class="producto-info">

              <div>
                <h2 class="producto-title">guitarra</h2>
                <p>guitarra barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
             class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
                <div class="producto-info">
                  <div>
                    <h2 class="producto-title">bateria</h2>
                    <p>bateria barateli</p>
                  </div>
                </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://cdn.shopify.com/s/files/1/0172/8076/1910/products/guitarra_washburn_bk_1200x.jpg?v=1667663096"
              alt=""
            />
            <div class="producto-info">
  
              <div>
                <h2 class="producto-title">guitarra</h2>
                <p>guitarra barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

        </div>
      </main>
    </section>

    