
    
    <header>
        <div class="row justify-content-evenly footer-dark">
          <h2 class="tittle">Ofertas</h2>
          <h2 class="tittle">Accesorios</h2>
          <h2 class="tittle">Open box</h2>
          <h2 class="tittle">Destacados</h2>
        </div>
    </header>

    <section>
      <main class="container">
        <div class="row justify-content-evenly">
          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://www.musiccitypianos.com/information/ewExternalFiles/YUS5_PE%20T.png"
              alt=""
            />
            <div class="producto-info">

              <div>
                <h2 class="producto-title">Piano</h2>
                <p>piano barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://cdn.shopify.com/s/files/1/0172/8076/1910/products/guitarra_washburn_bk_1200x.jpg?v=1667663096"
              alt=""
            />
            <div class="producto-info">

              <div>
                <h2 class="producto-title">guitarra</h2>
                <p>guitarra barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
             class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
                <div class="producto-info">
                  <div>
                    <h2 class="producto-title">bateria</h2>
                    <p>bateria barateli</p>
                  </div>
                </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://cdn.shopify.com/s/files/1/0172/8076/1910/products/guitarra_washburn_bk_1200x.jpg?v=1667663096"
              alt=""
            />
            <div class="producto-info">
  
              <div>
                <h2 class="producto-title">guitarra</h2>
                <p>guitarra barateli</p>
              </div>
            </div>
          </div>

          <div class="producto-container">
            <img
              class="producto-preview"
              src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-sa-east-1.amazonaws.com%2Fcentryproduction%2Fbelanit-inventario%2Fproducts%2F62867740ee1095323c9ef26d%2Fimage%2F62867740ee1095323c9ef26d%2Foriginal%2Fopen-uri20220519-12860-aideqe.?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=3e4e78ccac76550f11672bad22f958c1"
              alt=""
            />
            <div class="producto-info">
              <div>
                <h2 class="producto-title">bateria</h2>
                <p>bateria barateli</p>
              </div>
            </div>
          </div>

        </div>
      </main>
    </section>
