<section>
  <main class="container">
    <h2>Productos</h2>
    <div class="row colection space-50 justify-content-center">
      <div class="producto-container" *ngFor="let producto of productos">
        <img
          class="product-foto"
          [src]="'data:image/*;base64,' + producto.imagen"
          alt=""
        />
        <h3>{{ producto.marca }}</h3>
        <hr />
        <p>Precio Normal: ${{ producto.precio | number : "1.0-0" }}</p>
        <p *ngIf="producto.precio_ofer">
          Precio Oferta: ${{ producto.precio_ofer | number : "1.0-0" }}
        </p>
        <button
          [routerLink]="['/', 'categoria', categoria, 'producto', producto.id]"
        >
          Encuentralo aquí!
        </button>
      </div>
    </div>
  </main>
</section>
