<main>
    <section>
        <div class="row justify-content-between">
            <div class="col contenedor1">
                <img src="https://www.10wallpaper.com/wallpaper/1366x768/1510/Electric_guitar_shop-Music_HD_Wallpaper_1366x768.jpg" alt="imagen guitarra">
            </div>
            <div class="col contenedor2  align-items-center ">
                
                <div class="relative">
                    <div class="background"></div>
                    <button class="boton1">Registrarse</button>
                   
                </div>
                
                <div class="flex gap-40 ">
                    <div class="flex"><input type="text" placeholder="Nombre Usuario o correo"></div>
                      
                    <div class="flex"><input type="password" placeholder="Contraseña"></div>    
                </div>
                <div class="asda">
                    <p class="text2 text-center">¿Olvidó su contraseña? <a href="">presione aquí</a></p>
                    <button class="boton2">ingresar</button>
                </div>
            </div> 
        </div>
    </section>
</main>