
<section class="container">
    <main class="row">
            <div class="col half-60 align-items-center">
                <img src="https://www.paris.cl/dw/image/v2/BCHW_PRD/on/demandware.static/-/Sites-paris-marketplace/default/dw9539532e/images/imagenes-productos/800/MKTX/MKTXPRKXN1-001.jpg?sw=1480&sh=2000&sm=fit" alt="">
                <div class="space">
                    <h1>DESCRIPCIÓN DEL PRODUCTO</h1>
                    <p>La Takamine GC1 es una atractiva guitarra acústica clásica construida para ofrecer un hermoso sonido de cuerdas de nylon.</p>
                    <br>
                    <p> Una excelente opción para cualquier músico que busque una guitarra clásica asequible que funcione muy por encima de su precio, la GC1 cuenta con una tapa de abeto selecta reforzada con aros y fondo de caoba para un sonido completo y equilibrado. El cómodo mástil de caoba y el diapasón de laurel proporcionan una gran sensación y facilidad de ejecución.</p>
                    <br>
                    <p>Otras excelentes características incluyen una articulación de cuello de cola de milano, una hermosa roseta de mosaico con incrustaciones, una cejilla de hueso sintético y una montura de puente, un headstock de laurel, clavijas de cromo con botones de perlas blancas y un elegante acabado brillante.</p>
                </div>
                
            </div>
            <div class="col half-40">
               
                <h4>LES PAUL STANDARD 50s GUITARRA ELECTRICA LEMON BURST EPIPHONE</h4>
                <p>Epiphone</p>
                <span class="flex align-items-center "> 
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <p>(0)</p>
                </span>
                
                <a href="http://">*Ver reviews</a>
                <hr>
                <h1 class="precio">$550.000</h1>
                <hr>
                <div class="flex align-items-center justify-content-end"><button>Protege tu instrumento ></button></div>
                <span class="flex">
                    <i class='bx bx-credit-card'></i>
                    <p>Conoce más cuotas sin interés</p>
                </span>
                
                
                
                
            
               
                
            </div>
    </main>
</section>