@import url(https://fonts.googleapis.com/css?family=Poppins);
main{
    font-family:'poppins';
}

.container{
    margin-top: 40px;

}
img{
    height: 400px;
    width: 400px;
   
       
}

.cant-input{
    max-width: 40px;
}

.desRight{
    max-width: 100px;

}
.half-60{
    //flex-grow: 0.6;
    max-width: 60%; 
}
.half-40{
    //flex-grow: 0.4; 
    max-width: 40%;
}

h4,p,h1,h2,h3,h5{
    margin: 0;   
}
.flex{
    display: flex;
}
span p{
    display:contents;
    color: var(--color-secondary);
    
}
.bx-star{
    color:#F8DC04;
}
hr{
   width: 100%;
   
}
h4,h1,a, h3{
    color: var(--color-secondary);
}
h4{
    font-size: 20px;
}

.precio{
    font-size: 40px;
}
.justify-content-end button{
    border-radius: 20px;
    background-color: #7DDAF8 ;
    border: 2px solid var(--color-secondary);
    height: 35px;
    width: 200px;
    cursor: pointer;
    
}
.justify-content-end button:hover{
    background-color: var(--color-secondary);
    color: white;
}
div h1{
    margin-bottom: 10px;
}
.space-50{
    margin-top: 50px;
    
    
}
.space-30{
    margin-top: 20px;
    cursor: pointer;

}
.bx-credit-card, .bxs-truck, .bxs-chevron-right{
    font-size: 30px;
    color:var(--color-secondary) ;
    padding-right: 10px;
    

} 
div a{
    text-decoration: none;
}

.hidden{
    display:none;
    transition-duration: 200s;
}

.desplegable:hover .hidden{
    display: block;
    
}
.contents{
    display:contents;
}
.contents button{
    border: none;
    border-radius: 12px;
    width: 100%;
    gap: 10px;
    height: 65px;
    font-size: 30px;
    color: white;
    background-color: var(--color-secondary);
    cursor: pointer;
}
.contents button:first-child {
    background-color: #E75454 
  }

  .contents button:first-child:hover {
    background-color: var(--color-secondary);
  }

table {
    width: 100%;
  }
  
  th, td {
    display: block;
  }
  
  thead, tbody{
    text-align: left;
  }
  
 .block{
    display: block;
 }


 .sticky{
    //position:sticky;
    //top: 0px;
    //height: 0px;;
 }
 .masProd{
    flex-direction:column;
    
    text-align: center;
    border-inline:initial;
 }
 .gap{
    gap: 50px;
 }

.colection img{
    width: 160px;
    height: 160px;
   
}
.colection div{
    border: 1px solid #c8cfd1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.colection h5{
    color:#c8cfd1;
}
.colection div:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition:box-shadow 0.3s ease;
    
}
.phidden{
    display:none;
}
@media only screen and (max-width: 768px) {
    .half-60{
        max-width: 100%;
    } 
    .sm-bp .half-60 {
        order: 2;
        
    }
    .product-foto{
        display: none;
    }
    .phidden{
        display: block;
    }
    
    .sm-bp .half-40 {
        order: 1;
        max-width: 100%;
          }
    .half-40 img{
        display: block; /* Convertir la imagen en bloque para que ocupe todo el ancho */
        margin: 0 auto; /* Establecer los márgenes superior e inferior a 0 y el lateral a "auto" (centra horizontalmente la imagen dentro de su contenedor.) */
    }
    
    .colection img{
        min-width: 100%;
       
    }
}
@media only screen and (max-width: 1200px) {
    .colection img{
        max-width: 150px;
        height: auto
    }
}
@media only screen and (max-width: 380px) {
    .colection img{
        max-width: 250px;
        height: auto
    }
    .masProd span{
        display: block;
    }
    .phidden{
        max-width: 270px ;
        height: auto;
    }
}

@media screen and (min-width: 1100px) {
    
    .sm-bp{
        margin: 0 10%;
    }
}
