<div id="header" class="navbar">
  <a class="logo-link" (click)="menuClose()" [routerLink]="['home']">
    <img
      class="logo"
      draggable="false"
      src="/assets/logo/logo2.png"
      alt="Music pro logo"
    />
  </a>

  <div class="nav-wrapper">
    <nav class="navbar-menu">
      <button class="dropdown-btn" (click)="menuHandler()">
        <i id="menuToggler" class="bx bx-menu"></i>
      </button>

      <div
        *ngIf="menuDetector"
        class="menu-detector"
        (click)="menuClose()"
      ></div>
      <ul id="menu-list" class="menu-item-list">
        <li
          class="menu-item"
          (click)="menuClose()"
          [routerLink]="['home']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </li>
        <li
          class="menu-item"
          (click)="menuClose()"
          [routerLink]="['categoria']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Categoria
        </li>
        <li
          class="menu-item"
          (click)="menuClose()"
          [routerLink]="['tiendas']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Tiendas
        </li>
        <li
          class="menu-item"
          (click)="menuClose()"
          [routerLink]="['login']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bx-user"></i>
        </li>
      </ul>
      <span class="cart-btn" (click)="toggleCart()">
        <i class="bx bx-cart"></i>
      </span>
    </nav>
  </div>
</div>

<app-carrito *ngIf="showcart"></app-carrito>
