<div class="row justify-content-evenly footer-dark">
      <h2 class="tittle">Ofertas</h2>
      <h2 class="tittle">Accesorios</h2>
      <h2 class="tittle">Open box</h2>
      <h2 class="tittle">Destacados</h2>
</div>
 
<section>
  <main class="container">
    <div class="row colection space-50 justify-content-center">
      <div class="producto-container">
          <img
          class="product-foto"
          src="/assets/img/178528-300-300.webp"
          alt=""/>
          <p>Guitarra eléctroacústica Ibanez GA3ECE - Amber</p>
          <hr>
          <h3>IBANEZ</h3>
          <h3>Productos complementarios</h3>  
      </div>
      <div class="producto-container">
          <img
          class="product-foto"
          src="/assets/img/178528-300-300.webp"
          alt=""/>
          <p>Guitarra eléctroacústica Ibanez GA3ECE - Amber</p>
          <hr>
          <h3>IBANEZ</h3>
          <h3>Productos complementarios</h3>  
    </div>
          <div class="producto-container">
          <img
          class="product-foto"
          src="/assets/img/178528-300-300.webp"
          alt=""/>
          <p>Guitarra eléctroacústica Ibanez GA3ECE - Amber</p>
          <hr>
          <h3>IBANEZ</h3>
          <h3>Productos complementarios</h3>  
      </div>
    </div>
  </main>
</section>
