<div class="row justify-content-evenly footer-dark">
      <h2 class="tittle">Ofertas</h2>
      <h2 class="tittle">Accesorios</h2>
      <h2 class="tittle">Open box</h2>
      <h2 class="tittle">Destacados</h2>
</div>
 
<section>
  <main class="container">
    <h2>Categorias</h2>
    <div class="row colection space-50 justify-content-center">
      <div class="producto-container">
          <img class="product-foto" src="/assets/img/178528-300-300.webp"alt=""/>
          <h3>GUITARRAS</h3>
          <hr>
          <p>Instrumentos de cuerda</p>
          <button>Encuentralo aquí!</button>  
       
      </div>
      <div class="producto-container">
          <img
          class="product-foto"
          src="https://audiomusicacl.vtexassets.com/arquivos/ids/177485-800-auto?v=637860772645930000&width=800&height=auto&aspect=true"
          alt=""/>
          <h3>GUITARRAS</h3>
          <hr>
          <p>Instrumentos de cuerda</p>
          <button>Encuentralo aquí!</button>  
         
    </div>
          <div class="producto-container">
          <img
          class="product-foto"
          src="https://audiomusicacl.vtexassets.com/arquivos/ids/177686-800-auto?v=637867791454200000&width=800&height=auto&aspect=true"
          alt=""/>
          <h3>GUITARRAS</h3>
          <hr>
          <p>Instrumentos de cuerda</p>
          <button>Encuentralo aquí!</button>  
       
      </div>
      <div class="producto-container">
        <img
        class="product-foto"
        src="https://audiomusicacl.vtexassets.com/arquivos/ids/168695-800-auto?v=637801432344000000&width=800&height=auto&aspect=true"
        alt=""/>
        <h3>GUITARRAS</h3>
          <hr>
          <p>Instrumentos de cuerda</p>
          <button>Encuentralo aquí!</button>    
    </div>
    </div>
  </main>
</section>
